@import url("https://fonts.googleapis.com/css2?family=Outfit");
body{
    height: 100%;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    margin: 0;
}

#card{
    text-align: center;
    background-color:  hsl(0, 0%, 100%);
    width: 25%;
    box-sizing: border-box;
    padding: 1em;
    min-width: 375px;
    margin: auto;
    transform: translateY(18%);
    padding-bottom: 2em;
    border-radius: 24px;
}

img{
    width: 100%;
    border-radius: 15px;
}

/* Typography */
h2{
    color:hsl(218, 44%, 22%);
    width: 80%;
    margin: auto;
    margin-bottom: .5em;
    margin-top: .5em;
    font-weight: 700;
}

p{
    width: 70%;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution{
    transform: translateY(7em);
    text-align: center;
    /* margin: auto !important; */
}